


/* ---------------------------------- */

body{
    /* background-color: #808080e9;    */
    background-color: #123 ;
    transition: background-color 0.5;
}

*{
    font-family:  system-ui; 
     direction: rtl ;  
     margin: 0 ; 
     padding: 0 ; 
    
} 

.container{
   background-color: #ffffffc6;  
   margin: auto;
   width: 90vh; 
   padding: 10px 10px; 


} 

.container  img{
    border-radius: 50%; 
    display: flex; 
    justify-self: center; 
    width: 100px; 
    margin: 10px;
} 


.container .info #job {
    display: flex; 
    justify-self: center; 
    margin: 10px  ;
}

.container #myJob {
    padding: 5px 5px;  
    margin: 10px ; 
    font-size: x-large;
}

.container  #myJob h3{
       font-size:x-large;
  }

#myJob p{
    margin:0 50px ;  
    padding-right: 10px;    
    font-size:medium;
} 
 .container .skills  h3 {
    margin: 10px ; 
    font-weight: 800;
    font-size:x-large;
}

.container .skills ul{
    margin: 10px 40px ; 
    font-size: medium ; 
    font-weight: 500;
} 

.container #message{
    margin:15px 10px
}
.container #message h3{
    margin: 10px 5px;
    font-size:x-large; 
    font-weight: 900;
}


.container #message div  {
    margin:0 10px ; 
    list-style: none;
    font-size: large ;  
    display: flex ; 
    justify-content: flex-start ; 
} 


.container #message  a img {
    width: 50px ; 
    margin: 0 0; 
    padding: 0;
}

.container #message  a .link2{
    position: relative ; 
    right: 4px
}
.container #message  a .link3 {
       width: 70px;
}


#Moodtogle{ 
   display: none ;
}


.switch{
    margin-left: 10px;
    border: 1px solid #123 ;
    background-color: #123; 
    border-radius: 20px;
    width: 45px ;   
    margin-top: 5px;
    position:  absolute ;
    top:  1px; 
    padding-bottom: 2px;  
    padding: 7px;
    padding-top: 2px; 
    height: 18px;
}


.switch span{
    border-radius: 50% ;
    background-color: white;
    width: 8px;
    height: 8px ; 
    margin-left: 1px;
    padding-left: 20px ;
    cursor: pointer;
} 


#Moodtogle:checked + .silder{
    background-color: #fff ;  
    position: relative ; 
    right: 25px ; 
    padding-left: 22px; 
    padding-bottom: 2px;
} 



/* 
.container #colors .btn1{
    position: absolute;  
    top:  1px; 
    border-radius: 20px; 
    background-color: black; 
    width: 70px; 
    height: 50px;  
    cursor: pointer;
 }  

.container #colors .btn1 img{
    width: 40px;   
    position: relative; 
    bottom:  5px;
} */
